@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@300&display=swap');

*{
    background-color: rgb(15, 4, 34);
    color: white;
    font-family: "poppins", Arial, Helvetica, sans-serif;
}

.container{
    display: grid;
    justify-content: center;
    margin-top: 50px;
}

.title h2{
    font-size: 14pt;
    text-align: center;
    /* font-family: "poppins", Arial, Helvetica, sans-serif; */
}

.logo img {
    align-items: center;
    margin-left: 35%;
    margin-right: 65%;
    /* margin-right: 50%; */
    border-radius: 100px;
    width: 25%;
    height: 25%;
}

.form-signIn{
    border: 1px solid #a0a0a0;
    border-radius: 5px;
    padding-left: 7pt;
    background-color: rgba(15, 4, 34, 0.408);
    height: 230px;
    font-size: 10pt;
}

.container-form-signIn{
    padding-top: 10pt;
}

.form-signIn input{
    width: fit-content;
    justify-content: center;
    /* text-align: center; */
    padding-right: 18%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.form-signIn label{
    margin-top: 5px;
    /* padding-top: 100px; */
}

.create-acc{
    border: 1px solid #a0a0a0;
    border-radius: 5px;
    text-align: center;
    font-size: 10pt;
}

.form-signIn button{
    width: 95%;
    height: 40px;
    background-color: rgb(16, 201, 16);
    margin-top: 20px;
    border-radius: 5px;
}

.form-signIn button :hover{
    cursor: pointer;
}

.form-signIn a, .create-acc a{
    color: blue;
    text-decoration: none;
}
