*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #070329;
    color: #fff;
    /* min-height: 5000px; */
}

.container{
    border: 1px solid #dbd8d8;
    width: 25%;
    height: 10%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    margin-right: 50%;
}

.title-container{
    justify-content: center;
    align-items: center;
}

.title-container .logo img {
border-radius: 50%;
width: 30%;
align-items: center;
justify-content: center;
}

